@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
    font-family: 'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #455a64;
    line-height: 1.3;
    word-wrap: break-word;
}

.footnote {
  position: absolute;
  bottom: 3em;
  font-size: 0.5em;
}

.red {
    color: #fa0000;
}

.remark-container {
    background: #ddd;
}

.remark-slide-content {
    background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.05));
    font-size: 1.4em;
}

.remark-slide-content h1 {
    font-weight: bold;
    font-size: 2.25em;
    text-align: center;
    margin: 0 0 .5em 0;
}

.remark-slide-content h2 {
    color: #d11a01;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.remark-slide-content h3 {
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.remark-slide-number {
    font-size: 0.5em;
}

a {
    color: #0288d1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

em {
    color: #0288d1;
    font-style: normal;
}

strong {
    color: #d11a01;
    font-style: normal;
}

ul > li, ol > li {
     margin: 0.6em 0;
}

ul > li > ul > li {
    font-size: 0.8em;
}

.pull-left {
    float: left;
    margin-right: 1em;
}

.pull-right {
    float: right;
    margin-left: 1em;
}

.gallery {
    display: block;
    text-align: center;
}

.gallery img {
    width: 200px;
    height: auto;
}

.caption {
    display: block;
    text-align: center;
    font-size: 0.8em;
}

/* Two-column layout */

.left-column {
    width: 20%;
    height: 92%;
    float: left;
}

.left-column h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 .5em 0;
}

.right-column {
    width: 75%;
    float: right;
}
