@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
    font-family: 'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #455a64;
    line-height: 1.3;
    font-size: 0.98em;
    word-wrap: break-word;
}

.footnote {
  position: absolute;
  bottom: 3em;
  font-size: 0.5em;
}

.red {
    color: #fa0000;
}

.remark-container {
    background: #ddd;
}

.remark-slide-content {
    background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.05));
    font-size: 1.4em;
}

.smaller {
    font-size: 1.2em;
}

.remark-slide-content h1 {
    font-weight: bold;
    font-size: 2.25em;
    text-align: center;
    margin: 0 0 .5em 0;
}

.remark-visible {
    position: relative;
}

.remark-slide-content h2 {
    color: #d11a01;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.remark-slide-content h3 {
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.remark-slide-number {
    font-size: 0.5em;
}

a {
    color: #0288d1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

em {
    color: #0288d1;
    font-style: normal;
}

strong {
    color: #d11a01;
    font-style: normal;
    font-weight: normal;
}

ul > li, ol > li {
     margin: 0.6em 0;
}

ul > li > ul > li {
    font-size: 0.8em;
}

table {
    font-size: 0.8em;
    width: 80%;
    margin: auto;
}

th {
    background-color: #eee;
    font-weight: normal;;
}

.pull-left {
    float: left;
    margin-right: 1em;
}

.pull-right {
    float: right;
    margin-left: 1em;
}

.gallery {
    display: block;
    text-align: center;
}

.gallery img {
    width: 200px;
    height: auto;
}

.caption {
    display: block;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}


/* First slide */

.remark-slide-container:first-child .remark-slide-content:after {
    content: '';
    background: url("../assets/logo_ulg.png") no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 73px;
    position: absolute;
    bottom: 2em;
    left: 3.3em;
    display: inline-block;
}

.remark-slide-container:first-child .remark-slide-content {
    vertical-align: middle;
}
